* {
    box-sizing: border-box;
}

/*
Fonts including 
*/
@font-face {
    font-family: "CoreSerifNW01-35Regular";
        src: url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.eot");
        src: url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.woff") format("woff"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.svg#CoreSerifNW01-35Regular") format("svg"); }


body {
    font-family: 'CoreSerifNW01-35Regular', sans-serif;
    font-weight: 500;

}

img {
    /* max-width: 100%; */
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
ul {
    list-style-type: none;
    /* text-decoration: none; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    }

.container {
    /* position: relative; */
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    /* box-sizing: content-box; */
}


.__ibg {
    position: relative;
}

.__ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----------------------HEADER-------------------*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
    /* height: 65px; */
    background-color: #0F2B49;
}

.header-logo {  
    margin: 7px 0px 7px 0px;   
} 

.logo {
    width: 130px;
    height: 51px;
}

.header-container {
    display: flex;
    min-height: 65px;
    align-items: center;
    overflow: hidden;
    /* justify-content: space-between; */

}

.header-menu {
    margin: 0px 0px 0px 600px;
}

@media (max-width: 1334px){
    .header-menu {
        margin: 0px 0px 0px 441px;
    } 
}

@media (max-width: 1094px){
    .header-menu {
        margin: 0px 0px 0px 100px;
    } 
}

@media (max-width: 768px){
    .header-menu {
        margin: 0px 0px 0px 20px;
    } 

    .menu-list {
        flex-wrap: wrap; 
    }
}

.menu-list {
    display: flex;
    /* flex-wrap: wrap; */
}

.menu-item:not(:last-child){
    margin: 0px 100px 0px 0px;
    width: 102px;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: calc(24 / 14 * 100%);
}

/**************MAIN PAGE*********************/

.main-page {
    flex: auto;
    position: relative;
    width: 1440px;
    height: 1991px;
    margin: 0 auto;
}

.main-image {
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: auto;
}

.mainpage-content {
    position: absolute;
    top: 271px;
    left: 110px;
}

.mainpage-title {
    color: #193554;
    font-size: 58px;
}

.mainpage-subtitle {
    color: #9EABBE;
    font-size: 30px;
}

.mainpage-descr {
    color: #193554;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}

.main-interests {
    position: relative;
    
}

.interests-rect {
    position: absolute;
    bottom: 116px;
    left: 100px;
    width: 1240px;
    height: 392px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.interests-img {
    margin-left: 84px;
    /* margin-bottom: 73px; */
} 

.interests-descr {
    margin-top: -50px;
    margin-left: 106px;
}

.interests-descr p {
    color: #0F2B49;
    font-size: 18px;
}

.reference-more {
    display: flex;
    align-items: center;
}

.reference-more a {
    color: #0F66E8;
    font-size: 18px;
    text-decoration: none;
}
.reference-more img {
    margin-top: 5px;
    margin-left: 8px;
}

.mainpage-business {
    position: relative;
    display: flex;
}

.business-title {
    position: absolute;
    top: 115px;
    left: 100px;
}

.business-title h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color: #0F2B49;
}


.business-block {
    position: absolute;
    top: 112px;
}

.top-business {
    position: relative;
    display: flex;
    width: 585px;
}


.commod-logo img {
    width: 55px;
    height: 58px;
    color: #305397;
}

.top-business h3 {

    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #0F2B49;
    margin-left: 11.5px;
}

.commod-plus {
    position: absolute; 
    right: 0;
}


.commod-plus img {
    /* justify-content: flex-end; */
    /* margin-left: 328px;  */
    width: 20px;
    height: 20px;
    color: #0F2B49;
    margin-top: 33px;
}

.bottom-business {
    margin-top: 23.5px;
}

.bottom-business p {
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #9EABBE;
}
.estate {
    margin-top: 200px;
}

.business {
    margin-bottom: 23px;
}
/*---------------------------------FOOTER-------------------------*/

.footer {
    flex: auto;
    /* justify-content: flex-start; */
    width: 100%;
    z-index: 50;
    height: 67px;
    background-color: #0F2B49;
}

.footer-container {
    display: flex;
}


.footer-logo {
    width: 12.37px;
    height: 18px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.footer-descr {
    margin: 25px 0px 0px 10px;
    font-family: Zurich WGL4 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
}
