* {
    box-sizing: border-box;

}

/*
Fonts including 
*/
@font-face {
    font-family: "CoreSerifNW01-35Regular";
        src: url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.eot");
        src: url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.woff") format("woff"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/576d017ec258a2d814a0d38cdc1794c6.svg#CoreSerifNW01-35Regular") format("svg"); }


body {
    font-family: 'CoreSerifNW01-35Regular', sans-serif;
    font-weight: 500;

}

img {
    /* max-width: 100%; */
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
ul {
    list-style-type: none;
    /* text-decoration: none; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    }

.container {
    /* position: relative; */
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    /* box-sizing: content-box; */
}


.__ibg {
    position: relative;
}

.__ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ----------------------HEADER-------------------*/

  .dropdown .dropbtn {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-family: inherit;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #0F2B49;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

.header {

    width: 1440px;
    z-index: 50;
    /* height: 65px; */
    background-color: #0F2B49;
}

.header-logo {  
    margin: 7px 0px 7px 0px;   
} 

.logo {
    width: 130px;
    height: 51px;
}

.header-container {
    display: flex;
    min-height: 65px;
    align-items: center;
    overflow: hidden;
    /* justify-content: space-between; */

}

.header-menu {
    margin: 0px 0px 0px 600px;
}

@media (max-width: 1334px){
    .header-menu {
        margin: 0px 0px 0px 441px;
    } 
}

@media (max-width: 1094px){
    .header-menu {
        margin: 0px 0px 0px 100px;
    } 
}

@media (max-width: 768px){
    .header-menu {
        margin: 0px 0px 0px 20px;
    } 

    .menu-list {
        flex-wrap: wrap; 
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.menu-item:not(:last-child){
    margin: 0px 50px 0px 0px;
    width: 135px;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: calc(24 / 14 * 100%);
}

/**************MAIN PAGE*********************/

.main-page {
    flex: auto;
    position: relative;
    width: 1440px;
    height: 1991px;
    margin: 0 auto;
}

.main-image {
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: auto;
}

.mainpage-content {
    position: absolute;
    top: 271px;
    left: 110px;
}

.mainpage-title {
    color: #193554;
    font-size: 58px;
}

.mainpage-subtitle {
    color: #9EABBE;
    font-size: 30px;
}

.mainpage-descr {
    color: #193554;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}

.main-interests {
    position: relative;
    
}

.interests-rect {
    position: absolute;
    bottom: 116px;
    left: 100px;
    width: 1240px;
    height: 392px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.interests-img {
    margin-left: 84px;
    /* margin-bottom: 73px; */
} 

.interests-descr {
    margin-top: -50px;
    margin-left: 106px;
}

.interests-descr p {
    color: #0F2B49;
    font-size: 18px;
}

.reference-more {
    display: flex;
    align-items: center;
}

.reference-more a {
    color: #0F66E8;
    font-size: 18px;
    text-decoration: none;
}
.reference-more img {
    margin-top: 5px;
    margin-left: 8px;
}

.mainpage-business {
    position: relative;
    display: flex;
}

.business-title {
    position: absolute;
    top: 115px;
    left: 100px;
}

.business-title h2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
    color: #0F2B49;
}


.business-block {
    position: absolute;
    top: 112px;
}

.top-business {
    position: relative;
    display: flex;
    width: 585px;
}


.commod-logo img {
    width: 55px;
    height: 58px;
    color: #305397;
}

.top-business h3 {

    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #0F2B49;
    margin-left: 11.5px;
}

.commod-plus {
    position: absolute; 
    right: 0;
}

.minus {
    display: none;
}

.collapsable {

}

#comod-text {
    display: none;
    width: 585px;
    /* max-height: 0px; */
}

.comod-text p {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.commod-plus img {
    /* justify-content: flex-end; */
    /* margin-left: 328px;  */
    width: 20px;
    height: 20px;
    color: #0F2B49;
    margin-top: 33px;
}

.bottom-business {
    margin-top: 23.5px;
}

.bottom-business p {
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #9EABBE;
}
.estate {
    margin-top: 200px;
}

.business {
    margin-bottom: 23px;
}

/* About */

.about-main {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.about-top {
    display: flex;
}

.about-top h1 {
    margin: 120px 131px 0px 64px;
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 150%;
    color: #0F2B49;
}

.about-descr {
    min-width: 804px;
    height: 280px;
    margin-top: 135px;
    margin-bottom: 120px;
    font-family: Zurich WGL4 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #0F2B49;
}

.about-banner {
    background: url(../img/About\ page\ -\ image.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 565px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -25px;


}

.banner-text-block {
    border-radius: 20px;
    margin-right: 28px; 
    width: 354px;
    height: 308px;
    background-color: #fff;
}

.banner-text-block .banner-purpose h2 {
    margin-top: 40px;
    text-align: center;
    font-family: Core Serif N;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #193554;
}

.banner-text-block .purpose-descr {
    text-align: center;
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 150%;
    color: #1C396E;
}


.history-title {
    margin-top: 120px;
    text-align: center;
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 150%;
    color: #0F2B49;
}


.timeline {
    width: 100%;
}
.timeline .timeline-item {
    width: 100%;
}
.timeline .timeline-item .info, .timeline .timeline-item .year {
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    color: #0F2B49;
    display: block;
    float:left;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.close .info, .timeline .timeline-item.close .year {
    color: #ccc;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item .year {
    font-size: 24px;
    font-weight: bold;
    width: 22%;
}
.timeline .timeline-item .info {
    width: 100%;
    width: 78%;
    margin-left: -2px;
    padding: 0 0 40px 35px;
    border-left: 4px solid #aaa;
    font-size: 14px;
    line-height: 20px;
}
.timeline .timeline-item .marker {
    background-color: #fff;
    border: 4px solid #aaa;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    display: block;
    float: right;
    margin-right: -14px;
    z-index: 2000;
    position: relative;
}
.timeline .timeline-item.active .info, .timeline .timeline-item:hover .info {
    color: #444;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.timeline .timeline-item.active .year, .timeline .timeline-item:hover .year {
    color: #9DB668;
}
.timeline .timeline-item .marker .dot {
    background-color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    border: 4px solid white;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    float: right;
    z-index: 2000;
    position: relative;
}
.timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #9DB668;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}



/* End About */


/* Policies */

.policies {
    width: 100%;
    height: 413px;
    background-color: #EAEEF5;
}

.policies-block {
    display: flex;
    text-align: center;
}
.policies-block h1 {
    margin: 100px 109px 0px 100px;
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 150%;
    color: #0F2B49;
}

.policies-descr {
    width: 704px;
    height: 187px;
    text-align: left;
    margin-top: 110px;
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #0F2B49;
}


/* End Policies */

/* Agriculture */

.agriculture-main {
    width: 100%;
    height: 2512px;
    background-color: #E5EEF5;
}

.agriculture-top {
    border-radius: 10px;
    width: 227px;
    height: 53px;
    background-color: #fff;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.agricult-ref {
    text-align: center;
    margin-top: 14px;
}  

.agricult-ref a {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #193554;
}

.agriculture-banner {
    background: url(../img/agriculture.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 461px;
    margin-top: 60px;
    position: relative;
}
.agriculture-desc { 
    position: absolute;
    top: 266px;
    left: 104px;
    width: 1032px;
    height: 438px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 266px auto;
}

.agriculture-desc-text {
    margin-left: 141px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.agriculture-desc-text h3 {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 58px;
    color: #0F2B49;
}

.agriculture-desc-text p {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #0F2B49;
}

.agriculture-products {
    background: url(../img/About\ page\ -\ image.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 565px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 364px;
}

.products-header h2 {
    margin: 59px 0px 86px 0px;
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.products-blocks {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
}

.products-item {
    width: 251px;
    height: 199px;
    background-color: #fff;
    margin-right: 42px;
    border-radius: 10px;
}

.products-item-img {
    margin-top: 35px;
    text-align: center;
}

.products-item-img img {
    width: 92px;
    height: 95px;
}

.products-item-descr {
    text-align: center;
    font-family: Zurich WGL4 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #0F2B49;
}

.agriculture-geography {
    position: relative;
    width: 100%;
    height: 711px;
    background-color: #CFD9EB; 
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    margin-top: 120px;
}

.agriculture-geo-header {
    position: absolute;
    top: 18px;
    left: 525px;
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 150%;
    color: #0F2B49;
}

.agriculture-geo-middle {
    display: flex;
    align-items: center;
}

.agriculture-countries {
    width: 447px;
    height: 324px;
    background-color: #fff;
    margin: 235px 20px 0px 46px;
    border-radius: 10px; 
    border: 1px solid rgba(15, 102, 232, 0.5);
}

.agriculture-map {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 724px;
    height: 593px;
    background: url(../img/agro-map.png);
    z-index: 10;
}

.countries-header {
    margin-top: 40px;
    text-align: center;
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #0F2B49;
}

.agro-countries-list {
    display: flex;
    margin-left: 35px;
    margin-top: 25px;
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #0F2B49;
}

.agro-countries-list span img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

/* End agriculture */

/* Metals */

.metals-main {
        width: 100%;
        height: auto;
        background-color: #E5EEF5;
}

.metals-banner {
    background: url(../img/Metals.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 533px;
    margin-top: 60px;
    position: relative;
}
.metals-desc { 
    position: absolute;
    top: 266px;
    left: 104px;
    width: 1032px;
    height: 548px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 266px auto;
    /* margin-bottom: 100px; */
}

.metals-desc-text {
    margin-left: 141px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.metals-desc-text h3 {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 58px;
    color: #0F2B49;
}

.metals-desc-text p {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #0F2B49;
}

.metals-geography {
    position: relative;
    margin: 400px 0px 120px 0px;
    width: 100%;
    height: 711px;
    background-color: #CFD9EB; 
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}

.metals-map {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 724px;
    height: 593px;
    background: url(../img/metals-map.png);
    z-index: 10;   
}

/* End Metals */

/* Real Estate */

.estate-main {
    width: 100%;
    height: auto;
    background-color: #E5EEF5;
}

.estate-banner {
    background: url(../img/image\ real\ estate.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 456px;
    margin-top: 60px;
    position: relative;
}

.estate-desc {
    position: absolute;
    top: 269px;
    left: 104px;
    width: 1032px;
    height: 539px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 266px 0px 120px 0px;
}

.estate-desc-text {
    margin-left: 141px;
    margin-top: 60px;
    margin-bottom: 26px;
}

.estate-desc-text h3 {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 58px;
    color: #0F2B49;
}

.estate-desc-text p {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #0F2B49;
}

.investment {
    width: 100%;
    height: 838px;
    background: rgba(48, 83, 151, 0.72);
    margin-top: 464px;
}

.investment-row {
    display: flex;
}

.investment-descr {
    margin-top: 60px;
}

.investment-title {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 90%;
    color: #FFFFFF;
}

.investment-subtitle {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.investment-list ul{
    padding-inline-start: 0px;
}

.investment-list ul li {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}


.investment-img img {
    /* background: url(../img/Icon\ Investment.jpg); */
    margin: 137px 0px 0px 316px;
    width: 183px;
    height: 190px;
    z-index: 9999;
    /* border: 1px solid black; */

}

.finance-row {
    display: flex;
}

.finance-img {
    margin-top: 197px;
    margin-left: 50px;

}

.finance-img  img{
    width: 183px;
    height: 190px;
}

.finance-descr {
    margin-top: 83px;
    margin-left: 367px;
}

.finance-title {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 90%;
    color: #FFFFFF;
}

.finance-subtitle {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.finance-list ul{
    padding-inline-start: 0px;
}

.finance-list ul li {
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.estate-geography {
    margin: 120px 0px 120px 0px;
}

.estate-map {
    width: 100%;
    height: 711px;
    background-color: #CFD9EB;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.real-estate-map {
    position: absolute;
    bottom: 113px;
    right: 25px;
    width: 653px;
    height: 430px;
    background: url(../img/estate-map.png);
    z-index: 10;
}

.estate-countries {
    width: 447px;
    height: 222px;
    background-color: #fff;
    margin: 235px 20px 0px 46px;
    border-radius: 10px;
    border: 1px solid rgba(15, 102, 232, 0.5);
}

.estate-countries-list {
    display: flex;
    margin-left: 35px;
    margin-top: -20px;
    font-family: Zurich;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #0F2B49;
}
/* End Real Estate */

/* Technology */

.technology-main {
    width: 100%;
    height: auto;
    background-color: #E5EEF5;
}

.technology-banner {
    background: url(../img/image\ technology.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 100%;
    height: 457px;
    margin-top: 60px;
    margin-bottom: 401px;
    position: relative;
}

.technology-desc {
    position: absolute;
    top: 266px;
    left: 104px;
    width: 1032px;
    height: 449px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 266px auto;
}

.technology-desc-text {
    margin-left: 141px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.technology-desc-text h3 {
    font-family: CoreSerifNW01-35Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 58px;
    color: #0F2B49;
}

.technology-desc-text p {
    margin-top: 20px;
    font-family: Zurich;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #0F2B49;
}



/* End Technology */



/*---------------------------------FOOTER-------------------------*/

.footer {
    flex: auto;
    /* justify-content: flex-start; */
    width: 100%;
    z-index: 50;
    height: 67px;
    background-color: #0F2B49;
}

.footer-container {
    display: flex;
}


.footer-logo {
    width: 12.37px;
    height: 18px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.footer-descr {
    margin: 25px 0px 0px 10px;
    font-family: Zurich WGL4 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
}
